nifi-nar-bundles/nifi-accumulo-bundle/PutAccumuloObject.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>AccumuloPutObject</name><snippet><connections><id>066ff4a4-647b-45e3-923f-86335f0ce4df</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>f65cc5fc-8a9d-4832-8ba5-3f9dcb639fdd</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>6a43c325-3afd-4473-a01d-b1764987fdbc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0f77884a-cfd3-4c45-92b0-983fab8a1f57</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>21bc69f5-5905-4ce4-9281-19b06dbcefe0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>d965c634-4caa-4e6e-9434-7bb9b9929a39</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>15f7cea5-c589-438c-9bb1-d987df16b07a</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>1fcb322d-5978-4f9c-a256-78a6f5b64928</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>f65cc5fc-8a9d-4832-8ba5-3f9dcb639fdd</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d71f1be4-5729-4090-8e0a-be8c860a8879</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>3097e083-dc8c-46c1-9adb-74eb464fdae1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>21bc69f5-5905-4ce4-9281-19b06dbcefe0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1e4781c0-1a06-4394-9b19-cfe79748c8c2</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>d965c634-4caa-4e6e-9434-7bb9b9929a39</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</groupId><id>1fcb322d-5978-4f9c-a256-78a6f5b64928</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>6a43c325-3afd-4473-a01d-b1764987fdbc</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>-115.3288907144161</x><y>1081.8264958176153</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which files to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether to list files from subdirectories of the directory</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Directory Location</key><value><allowableValues><description>Input Directory is located on a local disk. State will be stored locally on each node in the cluster.</description><displayName>Local</displayName><value>Local</value></allowableValues><allowableValues><description>Input Directory is located on a remote system. State will be stored across the cluster so that the listing can be performed on Primary Node Only and another node can pick up where the last node left off, if the Primary Node changes</description><displayName>Remote</displayName><value>Remote</value></allowableValues><defaultValue>Local</defaultValue><description>Specifies where the Input Directory is located. This is used to determine whether state should be stored locally or across the cluster.</description><displayName>Input Directory Location</displayName><dynamic>false</dynamic><name>Input Directory Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>/home/john/projects/nifi</value></entry><entry><key>Recurse Subdirectories</key><value>false</value></entry><entry><key>Input Directory Location</key><value>Local</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListFile</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListFile</type></processors><processors><id>d965c634-4caa-4e6e-9434-7bb9b9929a39</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>528.6029760176782</x><y>1272.561800434048</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hash Attribute Name</key><value><defaultValue>hash.value</defaultValue><description>The name of the FlowFile Attribute into which the Hash Value should be written. If the value already exists, it will be overwritten</description><displayName>Hash Attribute Name</displayName><dynamic>false</dynamic><name>Hash Attribute Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hash Algorithm</key><value><allowableValues><displayName>SHA-1</displayName><value>SHA-1</value></allowableValues><allowableValues><displayName>SHA-384</displayName><value>SHA-384</value></allowableValues><allowableValues><displayName>SKEIN-512-256</displayName><value>SKEIN-512-256</value></allowableValues><allowableValues><displayName>SKEIN-1024-384</displayName><value>SKEIN-1024-384</value></allowableValues><allowableValues><displayName>BLAKE2B-160</displayName><value>BLAKE2B-160</value></allowableValues><allowableValues><displayName>SHA</displayName><value>SHA</value></allowableValues><allowableValues><displayName>KECCAK-288</displayName><value>KECCAK-288</value></allowableValues><allowableValues><displayName>WHIRLPOOL</displayName><value>WHIRLPOOL</value></allowableValues><allowableValues><displayName>SKEIN-512-384</displayName><value>SKEIN-512-384</value></allowableValues><allowableValues><displayName>SHA-224</displayName><value>SHA-224</value></allowableValues><allowableValues><displayName>SM3</displayName><value>SM3</value></allowableValues><allowableValues><displayName>BLAKE2B-512</displayName><value>BLAKE2B-512</value></allowableValues><allowableValues><displayName>SKEIN-512-128</displayName><value>SKEIN-512-128</value></allowableValues><allowableValues><displayName>KECCAK-256</displayName><value>KECCAK-256</value></allowableValues><allowableValues><displayName>BLAKE2B-384</displayName><value>BLAKE2B-384</value></allowableValues><allowableValues><displayName>OID.2.16.840.1.101.3.4.2.10</displayName><value>OID.2.16.840.1.101.3.4.2.10</value></allowableValues><allowableValues><displayName>SKEIN-256-160</displayName><value>SKEIN-256-160</value></allowableValues><allowableValues><displayName>SHA-256</displayName><value>SHA-256</value></allowableValues><allowableValues><displayName>SHA3-256</displayName><value>SHA3-256</value></allowableValues><allowableValues><displayName>KECCAK-384</displayName><value>KECCAK-384</value></allowableValues><allowableValues><displayName>SKEIN-256-128</displayName><value>SKEIN-256-128</value></allowableValues><allowableValues><displayName>KECCAK-224</displayName><value>KECCAK-224</value></allowableValues><allowableValues><displayName>SKEIN-512-512</displayName><value>SKEIN-512-512</value></allowableValues><allowableValues><displayName>SKEIN-1024-512</displayName><value>SKEIN-1024-512</value></allowableValues><allowableValues><displayName>SKEIN-512-160</displayName><value>SKEIN-512-160</value></allowableValues><allowableValues><displayName>GOST3411</displayName><value>GOST3411</value></allowableValues><allowableValues><displayName>BLAKE2B-256</displayName><value>BLAKE2B-256</value></allowableValues><allowableValues><displayName>SKEIN-1024-1024</displayName><value>SKEIN-1024-1024</value></allowableValues><allowableValues><displayName>SHA3-384</displayName><value>SHA3-384</value></allowableValues><allowableValues><displayName>OID.2.16.840.1.101.3.4.2.9</displayName><value>OID.2.16.840.1.101.3.4.2.9</value></allowableValues><allowableValues><displayName>SHA-512/224</displayName><value>SHA-512/224</value></allowableValues><allowableValues><displayName>OID.2.16.840.1.101.3.4.2.8</displayName><value>OID.2.16.840.1.101.3.4.2.8</value></allowableValues><allowableValues><displayName>OID.2.16.840.1.101.3.4.2.7</displayName><value>OID.2.16.840.1.101.3.4.2.7</value></allowableValues><allowableValues><displayName>TIGER</displayName><value>TIGER</value></allowableValues><allowableValues><displayName>RIPEMD256</displayName><value>RIPEMD256</value></allowableValues><allowableValues><displayName>SKEIN-256-256</displayName><value>SKEIN-256-256</value></allowableValues><allowableValues><displayName>SHA3-224</displayName><value>SHA3-224</value></allowableValues><allowableValues><displayName>SHA3-512</displayName><value>SHA3-512</value></allowableValues><allowableValues><displayName>RIPEMD320</displayName><value>RIPEMD320</value></allowableValues><allowableValues><displayName>2.16.840.1.101.3.4.2.9</displayName><value>2.16.840.1.101.3.4.2.9</value></allowableValues><allowableValues><displayName>RIPEMD160</displayName><value>RIPEMD160</value></allowableValues><allowableValues><displayName>KECCAK-512</displayName><value>KECCAK-512</value></allowableValues><allowableValues><displayName>SKEIN-512-224</displayName><value>SKEIN-512-224</value></allowableValues><allowableValues><displayName>2.16.840.1.101.3.4.2.8</displayName><value>2.16.840.1.101.3.4.2.8</value></allowableValues><allowableValues><displayName>2.16.840.1.101.3.4.2.7</displayName><value>2.16.840.1.101.3.4.2.7</value></allowableValues><allowableValues><displayName>2.16.840.1.101.3.4.2.10</displayName><value>2.16.840.1.101.3.4.2.10</value></allowableValues><allowableValues><displayName>SHA-512/256</displayName><value>SHA-512/256</value></allowableValues><allowableValues><displayName>MD2</displayName><value>MD2</value></allowableValues><allowableValues><displayName>RIPEMD128</displayName><value>RIPEMD128</value></allowableValues><allowableValues><displayName>MD4</displayName><value>MD4</value></allowableValues><allowableValues><displayName>SHA-512</displayName><value>SHA-512</value></allowableValues><allowableValues><displayName>SKEIN-256-224</displayName><value>SKEIN-256-224</value></allowableValues><allowableValues><displayName>MD5</displayName><value>MD5</value></allowableValues><defaultValue>MD5</defaultValue><description>Determines what hashing algorithm should be used to perform the hashing function</description><displayName>Hash Algorithm</displayName><dynamic>false</dynamic><name>Hash Algorithm</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hash Attribute Name</key><value>md5</value></entry><entry><key>Hash Algorithm</key><value>MD5</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HashContent</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be processed successfully will be sent to this relationship without any attribute being added</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that are process successfully will be sent to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HashContent</type></processors><processors><id>1fcb322d-5978-4f9c-a256-78a6f5b64928</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>-127.404890646599</x><y>1267.0813219379736</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>full.path.filename</key><value><description></description><displayName>full.path.filename</displayName><dynamic>true</dynamic><name>full.path.filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>timestamp</key><value><description></description><displayName>timestamp</displayName><dynamic>true</dynamic><name>timestamp</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>full.path.filename</key><value>${absolute.path}${filename}</value></entry><entry><key>timestamp</key><value>${file.lastModifiedTime:toDate(&quot;yyyy-MM-dd'T'HH:mm:ssZ&quot;):toNumber()}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>3097e083-dc8c-46c1-9adb-74eb464fdae1</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>522.914081804347</x><y>1490.3140605519757</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Accumulo Instance Name</key><value><description>The name of the Accumulo Instance to connect to</description><displayName>Accumulo Instance Name</displayName><dynamic>false</dynamic><name>Accumulo Instance Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Connection String</key><value><defaultValue>localhost:2181</defaultValue><description>A comma-separated list of ZooKeeper hostname:port pairs</description><displayName>ZooKeeper Connection String</displayName><dynamic>false</dynamic><name>ZooKeeper Connection String</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>The username to use when connecting to Accumulo</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password to use when connecting to Accumulo</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>true</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Object Table</key><value><description>The table in Accumulo to write object contents</description><displayName>Object Table</displayName><dynamic>false</dynamic><name>Object Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Directory Table</key><value><description>The table in Accumulo to write directory contents</description><displayName>Directory Table</displayName><dynamic>false</dynamic><name>Directory Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Index Table</key><value><description>The table in Accumulo to write directory contents</description><displayName>Index Table</displayName><dynamic>false</dynamic><name>Index Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Visibility Attribute</key><value><description>The attribute containing visibility for this Accumulo cell</description><displayName>Visibility Attribute</displayName><dynamic>false</dynamic><name>Visibility Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Chunk Size</key><value><defaultValue>100000</defaultValue><description>The size of chunks when breaking down files</description><displayName>Chunk Size</displayName><dynamic>false</dynamic><name>Chunk Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Object Name Attribute</key><value><description>The attribute containing the name of this object.  Path elements separated by a forward slash in the value.</description><displayName>Object Name Attribute</displayName><dynamic>false</dynamic><name>Object Name Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Object ID Attribute</key><value><description>The attribute containing this object's ID.  Object contents written to the data table will be deduped based on this value.  Commonly a hash of the Object's contents.</description><displayName>Object ID Attribute</displayName><dynamic>false</dynamic><name>Object ID Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Object Name ID Attribute</key><value><description>The attribute containing the ID for this object's name.  The metadata elements of duplicate Object entries in the data table are grouped by this ID so that multiple Object names can retain their original metadata values.  Commonly a hash of the Object Name.</description><displayName>Object Name ID Attribute</displayName><dynamic>false</dynamic><name>Object Name ID Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Timestamp Attribute</key><value><description>The attribute containing the timestamp for this object.</description><displayName>Timestamp Attribute</displayName><dynamic>false</dynamic><name>Timestamp Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Path separator</key><value><defaultValue>/</defaultValue><description>String to use as a separator for the Object's path.</description><displayName>Path separator</displayName><dynamic>false</dynamic><name>Path separator</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Durability</key><value><allowableValues><description>The data is stored using the Table or System's default configuration</description><displayName>System Default</displayName><value>DEFAULT</value></allowableValues><allowableValues><description>The data is transferred to 'success' without waiting for confirmation from Accumulo</description><displayName>None</displayName><value>NONE</value></allowableValues><allowableValues><description>The data is transferred to 'success' after Accumulo confirms that it has received the data, but the data may not be persisted</description><displayName>Flush</displayName><value>FLUSH</value></allowableValues><allowableValues><description>The data is transferred to 'success' after Accumulo has received the data, but the data may not yet be replicated</description><displayName>Log</displayName><value>LOG</value></allowableValues><allowableValues><description>The data is transferred to 'success' only after Accumulo confirms that it has been stored</description><displayName>Sync</displayName><value>SYNC</value></allowableValues><defaultValue>DEFAULT</defaultValue><description>Specifies how durably the data must be stored on Accumulo before sending a FlowFile to the 'success' relationship.</description><displayName>Data Durability</displayName><dynamic>false</dynamic><name>Data Durability</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>Number of FlowFiles to send in a single batch. Accumulo does not provide information about which data fails in the case of a batch operation. Therefore, if any FlowFile fails in the batch, all may be routed to failure, even if they were already sent successfully to Accumulo. If this is problematic for your use case, use a Batch Size of 1.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait without receiving a response from Accumulo before routing FlowFiles to 'failure'</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Blacklist</key><value><description>Comma separated list of keys/attributes that should not be written to accumulo.</description><displayName>Blacklist</displayName><dynamic>false</dynamic><name>Blacklist</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Accumulo Instance Name</key><value>miniInstance</value></entry><entry><key>ZooKeeper Connection String</key><value>localhost:25352</value></entry><entry><key>Username</key><value>root</value></entry><entry><key>Password</key></entry><entry><key>Object Table</key><value>object</value></entry><entry><key>Directory Table</key><value>dir</value></entry><entry><key>Index Table</key><value>index</value></entry><entry><key>Visibility Attribute</key><value>file.group</value></entry><entry><key>Chunk Size</key><value>100000</value></entry><entry><key>Object Name Attribute</key><value>full.path.filename</value></entry><entry><key>Object ID Attribute</key><value>md5</value></entry><entry><key>Object Name ID Attribute</key><value>filename.hash</value></entry><entry><key>Timestamp Attribute</key><value>timestamp</value></entry><entry><key>Path separator</key><value>/</value></entry><entry><key>Data Durability</key><value>DEFAULT</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Blacklist</key><value>uuid,path</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutAccumuloObject</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to Accumulo</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been sent to Accumulo</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.accumulo.PutAccumuloObject</type></processors><processors><id>21bc69f5-5905-4ce4-9281-19b06dbcefe0</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>-117.34644688607648</x><y>1493.3310994695432</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hash Value Attribute Key</key><value><description>The name of the FlowFile Attribute where the hash value should be stored</description><displayName>Hash Value Attribute Key</displayName><dynamic>false</dynamic><name>Hash Value Attribute Key</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>full.path.filename</key><value><description></description><displayName>full.path.filename</displayName><dynamic>true</dynamic><name>full.path.filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hash Value Attribute Key</key><value>filename.hash</value></entry><entry><key>full.path.filename</key><value>.*</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HashAttribute</name><relationships><autoTerminate>true</autoTerminate><description>Used for FlowFiles that are missing required attributes</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Used for FlowFiles that have a hash value added</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HashAttribute</type></processors><processors><id>f65cc5fc-8a9d-4832-8ba5-3f9dcb639fdd</id><parentGroupId>866fda84-8ff6-4bc9-8826-5f44d3ecb029</parentGroupId><position><x>527.8243227521903</x><y>1089.595139968201</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File to Fetch</key><value><defaultValue>${absolute.path}/${filename}</defaultValue><description>The fully-qualified filename of the file to fetch from the file system</description><displayName>File to Fetch</displayName><dynamic>false</dynamic><name>File to Fetch</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Moves the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the file system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the file system once it has been pulled into NiFi</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory to the move the original file to once it has been fetched from the file system. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. If the directory does not exist, it will be created.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Move Conflict Strategy</key><value><allowableValues><description>The existing destination file should remain intact. The newly ingested file should be moved to the destination directory but be renamed to a random filename</description><displayName>Rename</displayName><value>Rename</value></allowableValues><allowableValues><description>The newly ingested file should replace the existing file in the Destination Directory</description><displayName>Replace File</displayName><value>Replace File</value></allowableValues><allowableValues><description>The existing file should in the Destination Directory should stay intact and the newly ingested file should be deleted</description><displayName>Keep Existing</displayName><value>Keep Existing</value></allowableValues><allowableValues><description>The existing destination file should remain intact and the incoming FlowFile should be routed to failure</description><displayName>Fail</displayName><value>Fail</value></allowableValues><defaultValue>Rename</defaultValue><description>If Completion Strategy is set to Move File and a file already exists in the destination directory with the same name, this property specifies how that naming conflict should be resolved</description><displayName>Move Conflict Strategy</displayName><dynamic>false</dynamic><name>Move Conflict Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log level when file not found</key><value><allowableValues><displayName>TRACE</displayName><value>TRACE</value></allowableValues><allowableValues><displayName>DEBUG</displayName><value>DEBUG</value></allowableValues><allowableValues><displayName>INFO</displayName><value>INFO</value></allowableValues><allowableValues><displayName>WARN</displayName><value>WARN</value></allowableValues><allowableValues><displayName>ERROR</displayName><value>ERROR</value></allowableValues><allowableValues><displayName>FATAL</displayName><value>FATAL</value></allowableValues><defaultValue>ERROR</defaultValue><description>Log level to use in case the file does not exist when the processor is trigerred</description><displayName>Log level when file not found</displayName><dynamic>false</dynamic><name>Log level when file not found</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log level when permission denied</key><value><allowableValues><displayName>TRACE</displayName><value>TRACE</value></allowableValues><allowableValues><displayName>DEBUG</displayName><value>DEBUG</value></allowableValues><allowableValues><displayName>INFO</displayName><value>INFO</value></allowableValues><allowableValues><displayName>WARN</displayName><value>WARN</value></allowableValues><allowableValues><displayName>ERROR</displayName><value>ERROR</value></allowableValues><allowableValues><displayName>FATAL</displayName><value>FATAL</value></allowableValues><defaultValue>ERROR</defaultValue><description>Log level to use in case user root does not have sufficient permissions to read the file</description><displayName>Log level when permission denied</displayName><dynamic>false</dynamic><name>Log level when permission denied</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File to Fetch</key><value>${absolute.path}/${filename}</value></entry><entry><key>Completion Strategy</key><value>None</value></entry><entry><key>Move Destination Directory</key></entry><entry><key>Move Conflict Strategy</key><value>Rename</value></entry><entry><key>Log level when file not found</key><value>ERROR</value></entry><entry><key>Log level when permission denied</key><value>ERROR</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchFile</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the file system for any reason other than insufficient permissions or the file not existing will be transferred to this Relationship.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the file system because the file could not be found will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the file system due to the user running NiFi not having sufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully fetched from the file system will be transferred to this Relationship.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchFile</type></processors></snippet><timestamp>07/26/2016 22:43:05 EDT</timestamp></template>